# Node.js
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json



# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.suo
*.user

# Build
dist/
build/

# Logs
*.log

# Large binaries and local scripts
*.exe
*.msi
*.bat
*.obj
*.skp
*.mtl
*.dgn
npm*
npx*
corepack*

# 3D model files (large, not needed on server)
3d/
public/3d/
